@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div>
    Cart Total:   Items:  <a class="btn fa fa-shopping-cart" style="color:white" asp-page="/Donate"></a>
</div>